.responsive-dialog {
    .responsive-content {
        width: 60% !important;
    }
    .close-dialog-icon {
        position: absolute !important;
        top: 0;
        right: 0;
    }
    @media screen and (max-width:600px) {
        padding: 0 !important;
        .responsive-content {
            width: 100% !important;
            transform: translate(0px, 0px) !important;
            &>div {
                height: 100vh;
            }
        }
    }
}