profile-user-data {
    display: block;
    background-color: white;
    .pud-con {
        width: 810px;
        margin: 0 auto;
        padding: 5px;
        padding-left: 290px;
        .profile-udc {
            width: 600px;
            .profile-data-con{
                margin: 5px 0;
            }
        }
    }
}