profile-user-data {
    justify-content: space-between;
    background-color: white;
    .fake-container {
        width: 1210px;
        margin: auto;
        .fake-left-con,
        .fake-right-con {
            width: 290px;
            overflow: hidden;
        }
        @media screen and (max-width:1280px) {
            width: auto;
            justify-content: flex-start;
        }
    }
    .pud-con {
        padding: 5px;
        .fake-left-con {
            width: 290px;
        }
        .profile-udc {
            .profile-data-con {
                margin: 5px 0;
                .pdc-con {
                    text-align: center;
                }
            }
        }
        edit-profile-button {
            position: relative;
            z-index: 9;
        }
    }
    @media screen and (max-width:812px) {
        .pud-con {
            width: 100vw;
            margin: 0;
            padding: 0;
            .profile-udc {
                width: 100%;
                .profile-data-con {
                    flex-wrap: wrap;
                }
            }
        }
    }
}