.add-activity-con {
    .edit-text-image-con {
        .text-edit-con {
            max-height: 30vh;
            overflow-y: auto;
        }
    }
    .add-photo {
        position: absolute !important;
        right: 0;
        margin: -42px 18px 0 0 !important;
    }
    .photo-activity-con {
        .dptc {
            height: 120px;
            width: 180px;
            border-radius: 6px;
        }
    }
}