add-status {
    display: block;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 462px;
    .head-pic {
        width: 35px;
        height: 35px;
        border-radius: 5px;
    }
    .add-status-con {
        position: relative;
        .add-text-con {
            padding-right: 35px;
            width: 360px;
        }
        .add-photo {
            position: absolute !important;
            bottom: 0;
            right: 0;
            margin: -8px !important;
        }
    }
    .photo-con {
        display: flex;
        justify-content: flex-end;
        .dp-thumnail-con {
            border-left: 1px solid #70c3ff;
            border-right: 1px solid #70c3ff;
            border-bottom: 1px solid #70c3ff;
            width: 405px;
            background-color: #f1f1f1;
            .dptc {
                height: 115px;
                border-radius: 6px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    add-status {
        display: none !important;
    }
}